aulas/
TP5/node_modules/
TP5/package-lock.json
TP6/node_modules/
TP6/package-lock.json
TP7/filmes/node_modules/
TP7/filmes/package-lock.json
TP8/nobelPrizes/node_modules/
TP8/nobelPrizes/package-lock.json
TP9/node_modules/
TP9/package-lock.json