extends layout

block content
	.w3-container
		h1 Gestão de Prémios Nobel
		ul.w3-ul
			li
				a(href="http://localhost:3005/premios") Listar prémios Nobel (ano e categoria)
			li
				a(href="http://localhost:3005/categorias") Listar categorias de prémio Nobel
			li
				a(href="http://localhost:3005/laureados") Listar laureados de prémios Nobel
