extends layout

block content
	.w3-container
		h1 Lista de laureados de prémios Nobel
		table.w3-table-all
			tr
                th Nome
				th Ano
				th Categoria
			each l in laureados
				tr
                    td= l.nome
					td= l.year
					td= l.category

			address
				a(href="http://localhost:3005/") Homepage