extends layout

block content
	.w3-container
		h1 Lista de laureados de prémios Nobel
		table.w3-table-all
			tr
				th Nome
				th Ano
				th Categoria
			each l in laureados
				- for (var i = 0; i < l.year.length; i++ ) 
					tr
						td= l.firstname + " " + l.surname
						td= l.year[i]
						td= l.category[i]

			address
				a(href="http://localhost:3005/") Homepage