extends layout

block content
	.w3-container
		h1 Lista de prémios Nobel
		table.w3-table-all
			tr
				th Categoria
			each c in categorias
				tr
					td= c		

			address
				a(href="http://localhost:3005/") Homepage