extends layout

block content
    .w3-container.w3-section
        .w3-card-4
            header.w3-container.w3-light-blue
                h3 Informação do Filme
            .w3-container
                table.w3-table-all.w3-margin-bottom
                    tr
                        th Título
                        th Ano
                        th Elenco
                        th Género(s)
                    tr
                        td= filme.title
                        td= filme.year
                        td
                            ul
                                each actor in filme.cast
                                    li= actor
                        td
                            ul
                                each genre in filme.genres
                                    li= genre
                    tr                 
                        a(onclick="eliminar('" + filme._id + "')")
                            img(style="max-height: 25px; display: inline-block" src="/images/delete.png" alt="")
                        a(onclick="window.location.assign('/filmes/update/" + filme._id + "')")
                            img(style="max-height: 25px; display: inline-block" src="/images/update.png" alt="")

        .w3-container.w3-light-blue
            footer.w3-container
                p
                    a(href="/") Voltar à página principal