doctype html
html
    head
        title Arquivo de Filmes
        meta(charset="UTF-8")
        link(rel='stylesheet', href='/stylesheets/w3.css')
        script(src="https://unpkg.com/axios/dist/axios.min.js")
        script(src="/javascripts/ops.js")
    body
        block content