extends layout
block content
    .w3-container.w3-section
        .w3-card-4
            header.w3-container.w3-teal
                h1(style="display: inline-block; margin: 10px") Arquivo Sonoro
                a.w3-right(onclick="window.location.assign('/arq/add')")
                    button(style="height: 30px; margin: 20px; display: inline-block; border-radius: 5px") +

    .w3-container
        table.w3-table-all.w3-section
            tr
                th ID
                th Título
                th Músico
                th Duração
                th Operações
            each a, idx in arq
                tr
                    td= a.id
                    td= a.tit
                    td= a.musico
                    td= a.duracao
                    td
                        div(style="grid-template: / 1fr 1fr 1fr; grid-column-gap: 2px")
                            a(onclick="window.location.assign('/arq/" + a.id + "')")
                                img(style="max-height: 25px; display: inline-block" src="/images/consult.png" alt="")
                            a(onclick="eliminar('" + a.id + "')")
                                img(style="max-height: 25px; display: inline-block" src="/images/delete.png" alt="")
                            a(onclick="window.location.assign('/arq/update/" + a.id + "')")
                                img(style="max-height: 25px; display: inline-block" src="/images/update.png" alt="")

        .w3-container.w3-teal
            footer.w3-container
                p
                    a(href="/") Voltar ao topo